<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Imagem de Natan dos Santos" src="assets/imgs/natan-img.jpg"/>
    <ion-card-header>
      <ion-card-title>Natan dos Santos</ion-card-title>
      <ion-card-subtitle>Codigo de turma: ADS0301M</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>Olá, meu nome é Natan dos Santos, sou aluno do curso de Análise e Desenvolvimento de Sistemas (ADS) e estou no 3º semestre. Estou muito animado para aprender mais sobre programação e desenvolvimento de software.</p>
      <p>Estou ansioso para compartilhar meus conhecimentos e aprender com todos vocês!</p>
    </ion-card-content>
  </ion-card>
</ion-content>
